<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">A-La-Cart Plan</h2>
            </div>
            <!-- /.content-header -->
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
            </span>
            <form method="post" class="form-horizontal" role="form" name="aLaCartForm" data-ng-submit="submitForm(aLaCartForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="asterisk">*</span>Plan Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="planname" class="form-control" placeholder="Plan Name" data-ng-model="PlanName" required>
                                <input type="hidden" name="ld_Id" class="form-control" data-ng-model="PlanId">
                                <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.planname.$touched">
                                    <span ng-show="aLaCartForm.planname.$error.required">Plan Name is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caption" class="col-sm-3 control-label">Caption</label>
                            <div class="col-sm-9">
                                <input type="text" name="u_caption" class="form-control" id="" placeholder="Caption" data-ng-model="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea name="u_caption" class="form-control" id="" placeholder="Description" data-ng-model="Description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contentType" class="col-sm-3 control-label"><span class="asterisk">*</span>Content Type</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="contentType" class="form-control" data-ng-model="SelectedContentType" data-ng-options="item.cd_id as item.cd_name for item in ContentTypes" data-ng-change="ContentTypeChange()" required>
                                        <option value="">-- Select Content Type --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.contentType.$touched">
                                    <span ng-show="aLaCartForm.contentType.$error.required">Please Select Content Type.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deliveryType" class="col-sm-3 control-label"><span class="asterisk">*</span>Delivery Type</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="deliveryType" class="form-control" data-ng-model="SelectedDeliveryType" data-ng-options="item.cd_id as item.cd_name for item in deliveryType" data-ng-change="deliveryTypeChange()" required>
                                        <option value="">-- Select Delivery Type --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.deliveryType.$touched">
                                    <span ng-show="aLaCartForm.deliveryType.$error.required">Please Select Delivery Type.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="geoLocation" class="col-sm-3 control-label"><span class="asterisk">*</span>Geo Location</label>
                            <div class="col-sm-5">
                                <span class="ui-select">
                                    <select name="geoLocation" class="form-control" data-ng-model="SelectedGeoLocation" data-ng-options="item.cd_id as item.cd_name for item in GeoLoction" data-ng-change="geoLocationChange()" required>
                                        <option value="">-- Select Geo Location --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.geoLocation.$touched">
                                    <span ng-show="aLaCartForm.geoLocation.$error.required">Please Select Geo Location.</span>
                                </span>
                            </div>
                            <label for="currency" class="col-sm-2 control-label">Currency</label>
                            <div class="col-sm-2">
                                <input type="text" readonly name="currency" class="form-control" id="" placeholder="Currency" data-ng-model="selectedCurrency">
                            </div>
                        </div>
                        <fieldset ng-show="streamingSetting" style="border: 1px solid #eeeeee; padding: 2px;"><legend><h4>Streaming Setting</h4></legend>
                            <div class="form-group">
                                <label for="streamNoOfTime" class="col-sm-3 control-label"><span class="asterisk">*</span>Stream No.of Times</label>
                                <div class="col-sm-9">
                                    <input type="text" name="streamNoOfTime" class="form-control" id="" placeholder="Stream No.of Times" data-ng-model="streamNoOfTime" required>
                                    <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.streamNoOfTime.$touched">
                                        <span ng-show="aLaCartForm.streamNoOfTime.$error.required">Stream No.of Times is required.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="streamDuration" class="col-sm-3 control-label"><span class="asterisk">*</span>Streaming Duration</label>
                                <div class="col-sm-6">
                                    <input type="text" name="streamDuration" class="form-control" id="" placeholder="Streaming Duration" data-ng-model="streamDuration" required>
                                    <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.streamDuration.$touched">
                                        <span ng-show="aLaCartForm.streamDuration.$error.required">Streaming Duration is required.</span>
                                    </span>
                                </div>
                                <div class="col-sm-3">
                                    <select name="durationOptions" class="form-control" data-ng-model="SelectedDurationIn" data-ng-options="item.cd_id as item.cd_name for item in durationOptions" required>
                                        <option value="">-- Duration --</option>
                                    </select>
                                    <span style="color: red" ng-show="aLaCartForm.$submitted || aLaCartForm.durationOptions.$touched">
                                        <span ng-show="aLaCartForm.durationOptions.$error.required">Duration Options is required.</span>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <label for="distributionChannel" class="col-sm-3 control-label"><span class="asterisk">*</span>Distribution Channel</label>
                            <div class="col-sm-9">
                                <label ng-repeat="distributionChannelItem in distributionChannelList">
                                    &nbsp;<input type="checkbox" required
                                            name="distributionChannel[]"
                                            ng-model="distributionChannel"
                                            value="{{distributionChannelItem}}"
                                            ng-checked="selectedDistributionChannel.indexOf(distributionChannelItem) > -1"
                                            ng-click="toggleDistributionChannelSelection(distributionChannelItem)"
                                            require-items="{{selectedDistributionChannel.length}}"> {{distributionChannelItem}}&nbsp;
                                </label>
                                <br />
                                <span style="color: red" ng-hide="!aLaCartForm.$submitted || selectedDistributionChannel.length > 0">
                                    Distribution Channel is required.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="jetPayEventId" class="col-sm-3 control-label"><span class="asterisk">*</span>JetPay Event Id</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="jetPayEventId" class="form-control" data-ng-model="SelectedEventId" data-ng-options="item.jed_id as item.jed_event for item in JetPayEvent" data-ng-change="displayOperators()" required>
                                        <option value="">-- Select JetPay Event --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="aLaCartForm.$submitted">
                                    <span ng-show="aLaCartForm.jetPayEventId.$error.required">Please Select JetPay EventId.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group table-responsive">
                            <table id="eventOperators" class="table table-striped table-bordered table-checkable">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Operator</th>
                                        <th>Amount</th>
                                        <th>Disclaimer Text</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-show="SelectedEventId" data-ng-repeat="operators in OperatorDetails">
                                        <td>{{$index+1}}</td>
                                        <td>{{operators.opd_partner_name}}</td>
                                        <td>{{operators.opd_amount}}</td>
                                        <td><input type="text" name="disclaimer" class="form-control" placeholder="Disclaimer Text" data-ng-model="operators.opd_name"></td>
                                    </tr>
                                    <tr data-ng-hide="SelectedEventId">
                                        <td colspan="4">Only For selected JetPay Event Id.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-5 col-sm-7" data-ng-if="IsDisable != true">
                            <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                            <button type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
