<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="row">
                <div class="col-md-7" style="padding: 0px;">
                    <div class="col-sm-6">
                        <!-- /.portlet -->
                        <div class="portlet portlet-table">
                            <div class="portlet-content">
                                <div class="table-responsive">
                                    <table id="contents" class="table table-striped table-bordered table-checkable">
                                        <thead>
                                        <tr>
                                            <th>Content Status</th>
                                            <th>Count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="i in FileGridData">
                                            <td>{{ i.cd_name }}</td>
                                            <td><a href="{{i.Url}}">{{ i.count}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Total Upload</label>
                                            </td>
                                            <td><label>{{ TotalUpload }}</label></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.portlet-content -->
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="portlet">
                            <div class="portlet-header">
                                <h3><i class="fa fa-bar-chart-o"></i>Content Status </h3>
                            </div>
                            <!-- /.portlet-header -->
                            <div class="portlet-content">
                                <!--<div id="donut-chart" class="chart-holder-225"></div>-->
                                <div id="high-charts" class="chart-holder-225"></div>
                            </div>
                            <!-- /.portlet-content -->
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col -->
                </div>
                <div class="col-md-5">
                    <div class="portlet portlet-table">
                        <div class="portlet-header">
                            <h3><i class="fa fa-group"></i>Published Content List </h3>
                        </div>
                        <!-- /.portlet-header -->
                        <div class="portlet-content">
                            <div class="table-responsive">
                                <table id="user-signups" class="table table-striped table-bordered table-checkable">
                                    <thead>
                                    <tr>
                                        <th>Vendor / Content Type </th>
                                        <th>Wallpaper</th>
                                        <th>Full Song</th>
                                        <th>Videos</th>
                                        <th>Games &amp; Apps</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="i in VendorGridData">
                                        <td>{{i.vd_name}}</td>
                                        <td><a href="{{i.WallpaperUrl}}">{{i.Wallpapercount}}</a></td>
                                        <td><a href="{{i.AudioUrl}}">{{i.Audiocount}}</a></td>
                                        <td><a href="{{i.VideoUrl}}">{{i.Videocount}}</a></td>
                                        <td><a href="{{i.GamesUrl}}">{{i.Gamescount}}</a></td>
                                        <td><a href="{{i.TotalUrl}}">{{i.Totalcount}}</a></td>
                                    </tr>
                                                                            <!--<tr>
                                                                                                                                                                <td>Total</td>
                                                                                                                                                                <td><a href="#content-catalog">{{WallpaperTotal}}</a></td>
                                                                                                                                                                <td><a href="#content-catalog">{{FullSongTotal}}</a></td>
                                                                                                                                                                <td><a href="#content-catalog">{{VideosTotal}}</a></td>
                                                                                                                                                                <td><a href="#content-catalog">{{GamesAppsTotal}}</a></td>
                                                                                                                                                                <td><a href="#content-catalog">{{GrandTotal}}</a></td>
                                                                                                                                                            </tr>-->
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.portlet-content -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.content-container -->
    </div>
    <!-- /.content -->
</div>

