<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Subscription Plan</h2>
            </div>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="connectionError" style="color:red;">
                                {{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color:green;">
                                Record inserted successfully.
            </span>
            <!-- /.content-header -->
            <form class="form-horizontal" role="form" name="subscriptionForm" data-ng-submit="submitForm(subscriptionForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="planname" class="col-sm-3 control-label"><span class="asterisk">*</span>Plan Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="planname" class="form-control" placeholder="Plan Name" data-ng-model="PlanName" required>
                                <input type="hidden" name="ld_Id" class="form-control" data-ng-model="ld_Id" >
                                <input type="hidden" name="contentType" class="form-control" data-ng-model="contentType">
                                <span style="color:red" ng-show="subscriptionForm.$submitted || subscriptionForm.planname.$touched">
                                    <span ng-show="subscriptionForm.planname.$error.required" >Plan Name is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caption" class="col-sm-3 control-label">Caption</label>
                            <div class="col-sm-9">
                                <input type="text" name="u_caption" class="form-control" id="" placeholder="Caption" data-ng-model="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea name="u_caption" class="form-control" id="" placeholder="Description" data-ng-model="Description" rows="2" ></textarea>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="contentType" class="col-sm-3 control-label"><span class="asterisk">*</span>Content Type</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<span class="ui-select">-->
                                    <!--<select name="contentType" class="form-control" data-ng-model="SelectedContentType" data-ng-options="item.cd_id as item.cd_name for item in ContentTypes" data-ng-change="ContentTypeChange()" required>-->
                                        <!--<option value="">&#45;&#45; Select Content Type &#45;&#45;</option>-->
                                    <!--</select>-->
                                <!--</span>-->
                                <!--<span style="color:red" ng-show="subscriptionForm.$submitted || subscriptionForm.contentType.$touched">-->
                                    <!--<span ng-show="subscriptionForm.contentType.$error.required" >Please Select Content Type.</span>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="jetPayEventId" class="col-sm-3 control-label"><span class="asterisk">*</span>JetPay Event Id</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                     <select name="jetPayEventId" class="form-control" data-ng-model="SelectedEventId" data-ng-options="item.cd_id as item.cd_name for item in JetPayEvent" data-ng-change="displayOperators()" required>
                                         <option value="">-- Select JetPay Event --</option>
                                     </select>
                                </span>
                                <span style="color:red" ng-show="subscriptionForm.$submitted">
                                    <span ng-show="subscriptionForm.jetPayEventId.$error.required" >Please Select JetPay EventId.</span>
                                </span>
                            </div>
                        </div>
                        <div class="portlet">
                            <div class="portlet-header">
                                <h3><i class="fa fa-tasks"></i>Download Setting</h3>
                            </div>
                            <!-- /.portlet-header -->
                            <div class="portlet-content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="offerForDays" class="col-sm-6 control-label">Try & Buy(TB) Offer for Days</label>
                                            <div class="col-sm-6">
                                                <input type="text" ng-pattern="/^[0-9]*$/" class="form-control" name="offerForDays" placeholder="Try & Buy offer for Days" data-ng-model="offerForDays" data-ng-disabled="offerForDaysDisabled" >
                                                <span style="color:red" ng-show="subscriptionForm.$submitted || subscriptionForm.offerForDays.$touched">
                                                    <span ng-show="subscriptionForm.offerForDays.$error.pattern">Insert valid limit for TB Offer days.</span>
                                                </span>
                                            </div>
                                        </div>
                                        <hr />
                                        <h5><em>Content Allowed to Consume</em></h5>
                                        <div class="form-group">
                                            <label for="numContentOffer" class="col-sm-6 control-label">In Try & Buy(TB) Offer Days</label>
                                            <div class="col-sm-6">
                                                <input type="text" ng-pattern="/^[0-9]*$/" class="form-control" name="numContentOffer" placeholder="Limit for TB offer per day" data-ng-model="numContentOffer" data-ng-disabled="numContentOfferDisabled">
                                                <span style="color:red" ng-show="subscriptionForm.$submitted || subscriptionForm.numContentOffer.$touched">
                                                    <span ng-show="subscriptionForm.numContentOffer.$error.pattern" >Insert valid limit for TB Offer per day.</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="limitSingleDay" class="col-sm-6 control-label">For Single Day</label>
                                            <div class="col-sm-6">
                                                <input type="text" ng-pattern="/^[0-9]*$/" class="form-control" name="limitSingleDay" placeholder="Limit For Single Day" data-ng-model="limitSingleDay" data-ng-disabled="limitSingleDayDisabled">
                                                <span style="color:red" ng-show="subscriptionForm.$submitted || subscriptionForm.limitSingleDay.$touched">
                                                    <span ng-show="subscriptionForm.limitSingleDay.$error.pattern" >Insert download limit for Single Day.</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="fullSubDuration" class="col-sm-6 control-label"><span class="asterisk">*</span>For Full Subscription Duration</label>
                                            <div class="col-sm-6">
                                                <input type="text" ng-pattern="/^[1-9]*$/" class="form-control" name="fullSubDuration" placeholder="Limit for Full Subscription Duration" data-ng-model="fullSubDuration" data-ng-disabled="fullSubDurationDisabled" required>
                                                <span style="color:red" ng-show="subscriptionForm.$submitted || subscriptionForm.fullSubDuration.$touched">
                                                    <span ng-show="subscriptionForm.fullSubDuration.$error.required" >Insert limit for Full Subscription.</span>
                                                    <span ng-show="subscriptionForm.fullSubDuration.$error.pattern" >Insert valid limit for Full Subscription.</span>
                                                    <span ng-show="fullSubDuration < limitSingleDay" >Value must be greater than For Single Day limit.</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.portlet-content -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group table-responsive">
                            <table id="eventOperators" class="table table-striped table-bordered table-checkable">
                                <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Operator</th>
                                    <th>Amount</th>
                                    <th>Disclaimer Text</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-show="SelectedEventId" data-ng-repeat="operators in OperatorsList">
                                    <td>{{operators.id}}</td>
                                    <td>{{operators.name}}</td>
                                    <td>{{operators.amt}}</td>
                                    <td><input type="text" name="disclaimer" class="form-control" placeholder="Disclaimer Text" data-ng-model="operators.disclaimer"></td>
                                </tr>
                                <tr data-ng-hide="SelectedEventId"><td colspan="4">Only For selected JetPay Event Id.</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-5 col-sm-7" data-ng-if="IsDisable != true">
                            <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                            <button type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>