<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">{{PageTitle}} Subscription Plan</h2>
            </div>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}</span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}</span>
            <form method="post" class="form-horizontal" role="form" name="subscriptionForm" data-ng-submit="submitForm(subscriptionForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="planname" class="col-md-3 control-label"><span class="asterisk padding-right-5">*</span>Plan Name</label>
                            <div class="col-md-9">
                                <input type="text" data-ng-maxlength="40" name="planname" class="form-control" placeholder="Plan Name" data-ng-model="PlanName" required>
                                <input type="hidden" name="ld_Id" class="form-control" data-ng-model="PlanId">
                                <input type="hidden" name="contentType" class="form-control" data-ng-model="contentType">
                                <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.planname.$touched">
                                    <span ng-show="subscriptionForm.planname.$error.required">Plan Name is required.</span>
                                    <span data-ng-show="subscriptionForm.planname.$error.maxlength">Maximum 40 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caption" class="col-md-3 control-label">Caption</label>
                            <div class="col-md-9">
                                <input type="text" data-ng-maxlength="40" name="u_caption" class="form-control" placeholder="Caption" data-ng-model="Caption">
                                <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.u_caption.$touched">
                                    <span data-ng-show="subscriptionForm.u_caption.$error.maxlength">Maximum 40 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <textarea name="u_description"  data-ng-maxlength="200" class="form-control" placeholder="Description" data-ng-model="Description" rows="2"></textarea>
                                <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.u_description.$touched">
                                    <span data-ng-show="subscriptionForm.u_description.$error.maxlength">Maximum 200 characters allowed.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="geoLocation" class="col-md-3 control-label"><span class="asterisk padding-right-5">*</span>Geo Location</label>
                            <div class="col-md-5">
                                <span class="ui-select">
                                    <select name="geoLocation" class="form-control" data-ng-model="SelectedGeoLocation" data-ng-options="item.geoID as item.geoName for item in GeoLocations"  required> <!-- data-ng-change="displayOperators();displayJetEvents()"-->
                                        <option value="">-- Select Geo Location --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.geoLocation.$touched">
                                    <span ng-show="subscriptionForm.geoLocation.$error.required">Please Select Geo Location.</span>
                                </span>
                            </div>
                            <!--<label for="currency" class="col-md-2 control-label">Currency</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<input type="text" readonly name="currency" class="form-control" id="" placeholder="Currency" data-ng-model="selectedCurrency">-->
                            <!--</div>-->
                        </div>

                        <div class="form-group">
                            <label for="jetPayEventId" class="col-md-3 control-label"><span class="asterisk padding-right-5">*</span>JetPay Event Id</label>
                            <div class="col-md-9">
                                <span class="ui-select">
                                    <select name="jetPayEventId" class="form-control" data-ng-model="SelectedEventId" data-ng-options="item.ebe_ef_id as item.ebe_bgw_id_desc for item in JetPayEvent | unique:'ebe_ef_id'" required> <!-- data-ng-change="displayOperators()"-->
                                        <option value="">-- Select JetPay Event --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="subscriptionForm.$submitted">
                                    <span ng-show="subscriptionForm.jetPayEventId.$error.required">Please Select JetPay EventId.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="distributionChannel" class="col-md-3 control-label"><span class="asterisk padding-right-5">*</span>Distribution Channel</label>
                            <div class="col-md-9">
                                    <span data-ng-repeat="i in distributionChannelList ">
                                        <input type="checkbox" name="distributionChannel" ng-model="distributionChannelArray[i.cd_id]" ng-change="stateChanged(i.cd_id)" ng-required="selectedDistributionChannel.length == 0" >&nbsp;{{i.cd_name}} &nbsp; &nbsp; &nbsp;
                                    </span>
                                <br />
                                    <span style="color: red" ng-show="subscriptionForm.$submitted && selectedDistributionChannel.length == 0 ">
                                         <span ng-show="subscriptionForm.distributionChannel.$error.required">Distribution Channel is required.</span>
                                    </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-xs-12 form-group table-responsive">
                        <table id="eventOperators" class="table table-striped table-bordered table-checkable">
                            <thead>
                            <tr>
                                <th class="col-md-2 col-xs-2">Operator</th>
                                <th class="col-md-2 col-xs-2">Duration</th>
                                <th class="col-md-2 col-xs-2">Amount</th>
                                <th class="col-md-6 col-xs-6">Disclaimer Text</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-show="SelectedEventId" data-ng-repeat="operators in OperatorDetails">
                                <td class="col-md-2 col-xs-2">{{operators.partner_name}}</td>
                                <td class="col-md-2 col-xs-2">{{operators.duration}}</td>
                                <td class="col-md-2 col-xs-2">{{operators.tmi_amt}}</td>
                                <td class="col-md-6 col-xs-6">
                                    <input type="text" name="disclaimer" class="form-control" placeholder="Disclaimer Text" data-ng-model="operators.dcl_disclaimer">
                                </td>
                            </tr>
                            <tr data-ng-hide="SelectedEventId">
                                <td class="col-md-12 col-xs-12" colspan="4">Only For selected JetPay Event Id.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-header">
                        <h3><i class="fa fa-tasks"></i>Download Setting</h3>
                    </div>
                    <div class="portlet-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="offerForDays" class="col-md-3 col-xs-12 control-label">Try & Buy(TB) Offer for Days</label>
                                    <div class="col-md-3 col-xs-12">
                                        <input type="number"  min="0" max="10000" ng-pattern="/^[0-9]*$/" class="form-control" name="offerForDays" placeholder="Try & Buy offer for Days" data-ng-model="offerForDays" data-ng-disabled="offerForDaysDisabled" ng-keypress="isNumber($event)" >
                                        <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.offerForDays.$touched">
                                            <span ng-show="subscriptionForm.offerForDays.$error.pattern">Insert valid limit for TB Offer days.</span>
                                        </span>
                                    </div>
                                </div>
                                <hr />
                                <legend style="font-size: 14px; font-weight: bold"><em>Content Allowed to Consume</em></legend>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2" ><legend style="font-size: 12px; font-weight: bold">Download Limit</legend></div>
                                        <div class="col-md-7" ><legend style="font-size: 12px; font-weight: bold">Streaming Limit</legend></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-2 col-xs-6">
                                            <input type="radio" value="1" name="streamingLimitType" ng-model="streamingLimitType">
                                            <label style="font-size: 11px">No.of Content</label>
                                        </div>
                                        <div class="col-md-5 col-xs-6">
                                            <input type="radio" value="2" name="streamingLimitType" ng-model="streamingLimitType" >
                                            <label style="font-size: 11px">Duration</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            <div class="row"><div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="numContentOffer" class="col-md-9 control-label">In Try & Buy(TB) Offer Days</label>
                                                </div>
                                            </div></div>
                                            <div class="row"><div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="limitSingleDay" class="col-md-9 control-label">For Single Day</label>
                                                </div>
                                            </div></div>
                                            <div class="row"><div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="fullSubDuration" class="col-md-9 control-label">For Full Subscription Duration</label>
                                                </div>
                                            </div></div>
                                        </div>
                                        <div class="col-md-2 col-xs-3">
                                            <div class="row"><div class="col-md-12">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <input type="number"  min="0" max="10000" ng-pattern="/^[0-9]*$/" class="form-control" name="numContentOffer" placeholder="Limit for TB offer per day" data-ng-model="numContentOffer" data-ng-disabled="numContentOfferDisabled" ng-keypress="isNumber($event)" >
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.numContentOffer.$touched">
                                                        <span ng-show="subscriptionForm.numContentOffer.$error.pattern">Insert valid limit for TB Offer per day.</span>
                                                        <span ng-show="numContentOffer < limitSingleDay">Value must be greater than or equal to For Single Day limit.</span>
                                                    </span>
                                                </div>
                                            </div></div>
                                            <div class="row"><div class="col-md-12">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <input type="number"  min="0" max="10000" ng-pattern="/^[0-9]*$/" class="form-control" name="limitSingleDay" placeholder="Limit For Single Day" data-ng-model="limitSingleDay" data-ng-disabled="limitSingleDayDisabled" ng-keypress="isNumber($event)" >
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.limitSingleDay.$touched">
                                                        <span ng-show="subscriptionForm.limitSingleDay.$error.pattern">Insert valid download limit for Single Day.</span>
                                                    </span>
                                                </div>
                                            </div></div>
                                            <div class="row"><div class="col-md-12">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <input type="number"  min="0" max="10000" ng-pattern="/^[0-9]*$/" class="form-control" name="fullSubDuration" placeholder="Limit for Full Subscription Duration" data-ng-model="fullSubDuration" data-ng-disabled="fullSubDurationDisabled" ng-keypress="isNumber($event)" ><!--required-->
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.fullSubDuration.$touched">
                                                        <!--<span ng-show="subscriptionForm.fullSubDuration.$error.required">Insert download limit for Full Subscription.</span>-->
                                                        <span ng-show="subscriptionForm.fullSubDuration.$error.pattern">Insert valid download limit for Full Subscription.</span>
                                                        <span ng-show="fullSubDuration < limitSingleDay">Value must be greater than or equal to For Single Day limit.</span>
                                                    </span>
                                                </div>
                                            </div></div>
                                        </div>
                                        <div class="col-md-2 col-xs-3">
                                            <div class="row">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <input type="number"  min="0" max="10000" ng-disabled="streamingLimitType == 2" ng-pattern="/^[0-9]*$/" class="form-control" name="slc_tnb_free_cnt_limit" placeholder="Limit for TB offer per day" data-ng-model="slc_tnb_free_cnt_limit" data-ng-disabled="numContentOfferDisabled" ng-keypress="isNumber($event)" >
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.slc_tnb_free_cnt_limit.$touched">
                                                        <span ng-show="subscriptionForm.slc_tnb_free_cnt_limit.$error.pattern">Insert valid limit for TB Offer per day.</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <input type="number"  min="0" max="10000" ng-disabled="streamingLimitType == 2" ng-pattern="/^[0-9]*$/" class="form-control" name="slc_single_day_cnt_limit" placeholder="Limit For Single Day" data-ng-model="slc_single_day_cnt_limit"  ng-keypress="isNumber($event)" >
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.slc_single_day_cnt_limit.$touched">
                                                        <span ng-show="subscriptionForm.slc_single_day_cnt_limit.$error.pattern">Insert valid download limit for Single Day.</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <input type="number"  min="0" max="10000" ng-disabled="streamingLimitType == 2" ng-pattern="/^[0-9]*$/" class="form-control" name="slc_full_sub_cnt_limit" placeholder="Limit for Full Subscription Duration" data-ng-model="slc_full_sub_cnt_limit" ng-keypress="isNumber($event)"  ><!--ng-required="streamingLimitType == 1"-->
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.slc_full_sub_cnt_limit.$touched">
                                                        <!--<span ng-show="subscriptionForm.slc_full_sub_cnt_limit.$error.required">Insert content limit for Full Subscription.</span>-->
                                                        <span ng-show="subscriptionForm.slc_full_sub_cnt_limit.$error.pattern">Insert valid content limit for Full Subscription.</span>
                                                        <span ng-show="slc_full_sub_cnt_limit < slc_single_day_cnt_limit">Value must be greater than or equal to For Single Day limit.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-3">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-xs-6">
                                                    <input type="number"  min="0" max="10000" ng-disabled="streamingLimitType == 1" ng-pattern="/^[0-9]*$/" class="form-control" name="sld_tnb_free_cnt_limit" placeholder="Limit for TB offer per day" data-ng-model="sld_tnb_free_cnt_limit" ng-keypress="isNumber($event)"  >
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.sld_tnb_free_cnt_limit.$touched">
                                                        <span ng-show="subscriptionForm.sld_tnb_free_cnt_limit.$error.pattern && streamingLimitType == 2">Insert valid limit for TB Offer per day.</span>
                                                    </span>
                                                </div>
                                                <div class="col-md-1 col-xs-1">&nbsp;</div>
                                                <div class="form-group col-md-5 col-xs-5">
                                                    <select ng-disabled="streamingLimitType == 1" name="sld_tnb_free_cnt_duration" class="form-control" data-ng-model="sld_tnb_free_cnt_duration" data-ng-options="item.cd_id as item.cd_name for item in durationOptions" ng-required="sld_tnb_free_cnt_limit > 0">
                                                        <option value="">-- Duration --</option>
                                                    </select>
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.sld_tnb_free_cnt_duration.$touched">
                                                        <span ng-show="subscriptionForm.sld_tnb_free_cnt_duration.$error.required">Select Duration for TB Offer Days.</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-xs-6">
                                                    <input type="number"  min="0" max="10000" ng-disabled="streamingLimitType == 1" ng-pattern="/^[0-9]*$/" class="form-control" name="sld_single_day_cnt_limit" placeholder="Limit For Single Day" data-ng-model="sld_single_day_cnt_limit" ng-keypress="isNumber($event)" >
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.sld_single_day_cnt_limit.$touched">
                                                        <span ng-show="subscriptionForm.sld_single_day_cnt_limit.$error.pattern && streamingLimitType == 2">Insert valid download limit for Single Day.</span>
                                                    </span>
                                                </div>
                                                <div class="col-md-1 col-xs-1">&nbsp;</div>
                                                <div class="form-group col-md-5 col-xs-5">
                                                    <select name="sld_single_day_cnt_duration" ng-disabled="streamingLimitType == 1" class="form-control" data-ng-model="sld_single_day_cnt_duration" data-ng-options="item.cd_id as item.cd_name for item in durationOptions" ng-required="sld_single_day_cnt_limit > 0">
                                                        <option value="">-- Duration --</option>
                                                    </select>
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.sld_single_day_cnt_duration.$touched">
                                                        <span ng-show="subscriptionForm.sld_single_day_cnt_duration.$error.required">Select Duration for for Single Day.</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-xs-6">
                                                    <input type="number"  min="0" max="10000" ng-disabled="streamingLimitType == 1" ng-pattern="/^[0-9]*$/" class="form-control" name="sld_full_sub_cnt_limit" placeholder="Limit for Full Subscription Duration" data-ng-model="sld_full_sub_cnt_limit" ng-keypress="isNumber($event)" ><!--ng-required="streamingLimitType == 2"-->
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.sld_full_sub_cnt_limit.$touched">
                                                        <!--<span ng-show="subscriptionForm.sld_full_sub_cnt_limit.$error.required">Insert duration limit for Full Subscription.</span>-->
                                                        <span ng-show="subscriptionForm.sld_full_sub_cnt_limit.$error.pattern">Insert valid duration limit for Full Subscription.</span>
                                                        <span ng-show="sld_full_sub_cnt_limit < sld_single_day_cnt_limit">Value must be greater than For Single Day limit.</span>
                                                    </span>
                                                </div>
                                                <div class="col-md-1 col-xs-1">&nbsp;</div>
                                                <div class="form-group col-md-5 col-xs-5">
                                                    <select name="sld_full_sub_cnt_duration" ng-disabled="streamingLimitType == 1" class="form-control" data-ng-model="sld_full_sub_cnt_duration" data-ng-options="item.cd_id as item.cd_name for item in durationOptions" ng-required="sld_full_sub_cnt_limit > 0">
                                                        <option value="">-- Duration --</option>
                                                    </select>
                                                    <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.sld_full_sub_cnt_duration.$touched">
                                                        <span ng-show="subscriptionForm.sld_full_sub_cnt_duration.$error.required">Select Duration.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-header">
                        <h3><i class="fa fa-tasks"></i>At Cost</h3>
                    </div>
                    <div class="portlet-content">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="radio" name="atCostFreePaid" value="0" ng-model="atCostFreePaid">Free
                                <input type="radio" name="atCostFreePaid" value="1" ng-model="atCostFreePaid">Paid
                            </div>
                        </div>
                        <div class="row" ng-show="atCostFreePaid == 1" >
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5" ><legend style="font-size: 12px; font-weight: bold">Download</legend></div>
                                    <div class="col-md-4" ><legend style="font-size: 12px; font-weight: bold">Streaming</legend></div>
                                </div>
                                <div class="row" ng-repeat="ContentType in ContentTypes">
                                    <div class="col-md-2">
                                        <div class="row"><div class="form-group col-md-12">
                                        <label class="col-md-12 control-label" style="margin: 1px;">{{ContentType.cd_name}}</label>
                                        </div></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row"><div class="form-group col-md-12">

                                            <select data-ng-options="item.ap_id as item.ap_plan_name for item in alacartData | filter:{cd_name:'{{ContentType.cd_name}}'} | filter:{delivery_type_name:'Download'}" class="form-control" data-ng-model="alacartPlanIds[ContentType.cd_id].download"  >
                                                <option value="">--Select Download Plan for {{ContentType.cd_name}} or it's Free--</option>
                                            </select>
                                        </div></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row"><div class="form-group col-md-12" ng-show="ContentType.parent_name == 'Audio' || ContentType.parent_name == 'Video'" >
                                            <select data-ng-options="item.ap_id as item.ap_plan_name for item in alacartData  | filter:{cd_name:'{{ContentType.cd_name}}'} | filter:{delivery_type_name:'Streaming'}" class="form-control" data-ng-model="alacartPlanIds[ContentType.cd_id].streaming" >
                                                <option value="">--Select Streaming Plan for {{ContentType.cd_name}} or it's Free--</option>
                                            </select>
                                        </div></div>
                                    </div>
                                </div>
                            </div> <!-- /.row -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="planDuration" class="col-md-3 control-label"><span class="asterisk">*</span>Plan Duration</label>
                            <div class="col-md-4">
                                <input type="number"  min="0" max="10000" name="planDuration" class="form-control" id="" placeholder="Plan Duration" data-ng-model="planDuration" required ng-keypress="isNumber($event)" >
                                <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.planDuration.$touched">
                                    <span ng-show="subscriptionForm.planDuration.$error.required">Plan Duration is Required.</span>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <select name="planDurationOption" class="form-control" data-ng-model="planDurationOption" data-ng-options="item.cd_id as item.cd_name for item in durationOptions" required>
                                    <option value="">-- Duration --</option>
                                </select>
                                <span style="color: red" ng-show="subscriptionForm.$submitted || subscriptionForm.planDurationOption.$touched">
                                    <span ng-show="subscriptionForm.planDurationOption.$error.required">Select Plan Duration Options.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-5 col-md-7" >
                            <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                            <button type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
